
<!--<% @logs.each do |log| %>-->
    <!--<%= log.inspect %>-->
<!--<% end %>-->


<table id="body_content" class="table table-bordered" style="padding: 10px;">
  <%= render partial: 'table_content' %>
</table>